; copy–paste this file into `secret.ini` and fill the proper values
[secret]

; AP Wi-Fi Credentials or STA Wi-Fi Credentials
wifi_ssid = "CHANGE_ME_TO_THE_REAL_SSID"
wifi_password = "CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD"

; OTA Upload Password
ota_upload_password = "CHANGE_ME_TO_A_HARD_PASSWORD"